.yellow {
    color: rgb(255, 230, 0);

}

div>div>p {
    color: rgb(255, 0, 0);

}

#greycol {
    color: gray;

}

h3:first-of-type {

    color: pink;

}

p:nth-of-type(3) {
    color: green;

}

#aaa {
    color: blueviolet;

}

.qwe span::after {
    color: darkgray;
    font-size: 90px;

}

p:nth-of-type(2) {
    color: green;

}

tr>td>div>p {
    color: coral;

}

.lessons_monday span::after {
    content: "\A";

}

.lessons_tuesday {
    color: chartreuse;

}

p:nth-last-of-type(5) {
    color: blue;

}